/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1{
  margin: 0;
}


  body {
    font-size: var(--font-size-lg);
  }


a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*UTILLITY*/
body {
  width: 100hw;
  height: 400hv;
  max-width: 100hw;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
 
}

.wrapper {
  background-color: var(--white);
  font-family: "Manrope", serif;
  font-size: 1rem;
  line-height: 1.75;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #44FFA1;
}

header {
  background-color: var(--Dark-Purple, #24053e);
  z-index: -1;
  border-bottom-left-radius: 70% 20%;
  border-bottom-right-radius: 70% 20%;
  height: 350px;
}

.workit_light{

}
nav{
  display: flex;
  justify-content: space-between;
  padding: 30px 45px;
}

.btn_primary {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline #44ffa1 3px;
  text-underline-offset: 8px;
}

.btn_primary:hover {
  color: #44ffa1;
}

.btn_secondary{
  background: var(--Eucaplyptus, #44FFA1);
  color: var(--Dark-Purple, #24053e);
  padding: 2px 10px;
}

.btn_secondary:hover{
  background: var(--Dark-Purple, #24053e);
  color: var(--Eucaplyptus, #44FFA1);
  border: 2px solid #44ffa1;
  padding: 2px 10px;
}

.text-wrapper {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.hero-img-wrapper{
  margin-bottom: 1rem;
}

.hero_img {
 align-items: center;
 display: flex;
 justify-content: center;
 position: absolute;
 margin: auto;
 transform: translate(90%);
 width: 300px;
 height: 200px;
}

.group_3 {
  display: flex;
  margin-bottom: 10rem;
  background-color: var(--light-white);
  border-bottom-left-radius: 85% 3%;
  border-bottom-right-radius: 85% 3%;
}

.btn-num{
    border-radius: 50%;
    padding: 0 0.9rem;
    color: #24053E;
    min-width: 2rem;
    border: 1px solid var(--Davys-Grey, #584D62);
    color: var(--Dark-Purple, #24053E);
    font-family: Fraunces 144pt;
}

.sub-group{
    background-color: var(--light-white);
    border-bottom-left-radius: 85% 3%;
    border-bottom-right-radius: 85% 3%;
    padding:9.6875rem 1rem 2rem 1rem;
}

.flex-container{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.subtitle {
  margin: 5px auto;
}

.title {
  color: white;
}

.tailored {
  color: white;
  font-weight: bold;
  text-decoration: underline #44ffa1 3px;
  text-underline-offset: 8px;
}

.img-founder{
 width: 300px;
 height: 200px;
 margin-left: 40px;
 position: absolute;
 transform: translate(20%, -100%);
 left:1.5625rem;
 z-index: -1; 
}

.first-to-test{
  position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: -10px;
    padding: 20px;
    color:white;
    background-color: var(--Dark-Purple, #24053e);
  
}

.founder-section{
    position: relative;
}
.footer-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.btn-footer{
    background: var(--Eucaplyptus, #44FFA1);
    color: var(--Dark-Purple, #24053e);
    border: 2px solid #44ffa1;
    padding: 2px 10px;
  }

  .btn-footer:hover{
    background: var(--Dark-Purple, #24053e);
    color: var(--Eucaplyptus, #44FFA1);
    border: 2px solid #44ffa1;
    padding: 2px 10px;
  }


.flex_footer_socials{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 130px;
  }

/* Media queries for mobile screens */
@media screen and (max-width: 768px) {
  .container{
align-items: center;
  }


  .wrapper{
    align-items: center; 
  }
  header {
    height: 350px;
    padding: 4px;
    align-items: center;
    height: 350px;
  }
  
  .text-wrapper {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }

  .btn_primary{
    font-size: 1.3rem;
  }
  .btn_secondary{
  font-size: 1.5rem;
  }

  .title{
    font-size: 2rem;
  }
  
  .hero_section {
      position: relative;
      margin-bottom: 60px;
  }
 
  .main-group-items{
    display: block;
    margin-top: 8rem;
    width: 500px;
  }
  .sub-group{
    padding: 5px;
  }

  .hero-img-wrapper{
    display: block;
    align-items: center;
    width: 200px;
    height: 100%;
    position: absolute;
    transform: translate(-10%);
  }

  .founder-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    position: absolute; 
  }
  .img-founder{
    width: 300px;
    height: 200px;
    transform: translate(10%, -110%);
    z-index: -1;
   }

   .first-to-test{
    margin-left: 0;
    z-index: 400; 
    position: relative; 
    margin-top: 70px;
   }

.btn-num{
  font-size: 1.5rem;
}

.subtitle{
  font-size: 2.5rem;
  font-weight: bold;
  font-style: normal;
}
p{
  font-size: 1.5rem;
}
button{
  font-size: 2rem;
}

.footer-section{
  margin-top: 140%;
}

.btn-footer{
  font-size: 1.5rem;
}
}

/* Media queries for tablet screens */
@media(min-width: 43rem){
  .container {
    overflow-x: hidden;
  }

  .hero {
    padding-inline: 2.5rem;
  }

  .hero::before {
    bottom: -4rem;
    height: 4rem;
  }
  .group_3{
    margin-bottom: 0;
  }

  .main-group-items{
    margin: 9rem 0;
    display: flex;
    flex-direction: column;
    margin-bottom:0;
  }

  .sub-group{
    display: flex;
  }
  .subtitle{
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
  }
  
  .flex-container{
    align-items: left;
  }

.btn-num{
  min-width: 1rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.founder-section{

  font-size: 75%;
}

.img-founder{
  margin-left: 80px;
  left: -140px !important;
 transform: scale(0.6);
 bottom: 230px;
}

.first-to-test{
  margin-left: 100px;
  width: 400px;
 
}
.btn-footer{
  font-size: 1rem;
}

.footer-section{
  margin-top: 90%;
}

}

/* Desktop version*/
@media (min-width: 64rem){
  .main-group-items{
   display: flex !important;
  }

}






